

<%- include('../partials/adminHeader.ejs')%>

<div>
    <div>
        <%- include('../proizvodi/createProizvod.ejs')%>
        <%- include('../proizvodi/updateProizvod.ejs')%>
    </div>
    
    <div class="proizvod_opcije">
        <%- include('../proizvodi/searchProizvod.ejs')%>

        <div class="proizvodi_box" id="lista_proizvoda">
            <%- include('../proizvodi/proizvodList.ejs')%>
        </div>
    </div>


    <script src="../app.js"></script>
    
</div>

<%#proizvodLista%>




</div>
</body>
</html>











