<%- include('../partials/header.ejs')%>
    <form method="PUT">
        <input type="text" value="<%= data[0].IME%>" name = ''> 
        <input type="text" value="<%= data[0].EMAIL%>" name = ''>
        <input type="text" value="<%= data[0].BROJ_TELEFONA% %>" name = ''>
        <input type="text" value="<%= data[0].LOZINKA"%> " name = ''> 
        <button>Update</button>
    </form>
</div>
</body>
</html>